/* pages/vcomment/index.wxss */
@import '../../common/scss/common.scss';

.container {
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login {
  padding: 16rpx 48rpx;
  color: #fff;
  font-size: 28rpx;
  font-weight: 300;
  line-height: 40rpx;
  background: #f52828;
}
