/* pages/vcomment/index.wxss */
@import '../../common/scss/common.scss';

.canvas-container {
  position: absolute;
  top: -2000px;
  left: 0;
  z-index: 4;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 44rpx 32rpx 0rpx;
  width: 688rpx;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triangle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .triangle {
    height: 32rpx;
    width: 64rpx;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
  }
}

.article-comment {
  top: 0;
  width: 100vw;
  z-index: 13;
  align-items: center;
  background: #fff;
}

.commentlist-border-top {
  height: 16rpx;
  width: 100vw;
  background: #eee;
}

.popup {
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
}

.article-content-end {
  width: 100%;
  height: 1rpx;
}

page {
  background: #fff;
}

.container {
  align-items: center;
  width: 100vw;
}

.content-container-page {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 600px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.comment-container-page {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  // pointer-events: none;
}

.comment-container {
  align-items: center;
  width: 100vw;
  height: 600px;
  border-top: 2px solid grey;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
