/* pages/profile/index.wxss */
page {
  background-color: #fff;
}

.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 128rpx;
  height: 128rpx;
  border-radius: 50%;
  overflow: hidden;
}

.nickname {
  height: 56rpx;
  line-height: 56rpx;
  margin-top: 24rpx;
  font-size: 40rpx;
  font-weight: 900;
  color: #444;
}

.userid {
  height: 40rpx;
  line-height: 40rpx;
  margin-top: 6rpx;
  font-size: 28rpx;
  color: #999;
}

.login {
  background: #E22828;
  color: #fff;
  width: 208rpx;
  height: 76rpx;
  line-height: 76rpx;
  margin-top: 40rpx;
  border-radius: 0;
}

.options {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20rpx;
}

.options-item {
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  border-top: 2rpx solid #eee;
  border-bottom: 2rpx solid #eee;
  background: #fff;
  padding: 0 32rpx 0;
  text-align: center;
  color: #999;
  font-size: 36rpx;
}
