/* pages/vcomment/index.wxss */
@import '../../common/scss/common.scss';

page {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.canvas-container {
  position: absolute;
  top: -2000px;
  left: 0;
  z-index: 4;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 44rpx 32rpx 0rpx;
  width: 688rpx;
}

.page-container {
  align-items: center;
  height: 100vh;
}

.back-container {
  align-items: center;
  width: 100vw;
  height: 240rpx;
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.triangle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .triangle {
    height: 32rpx;
    width: 64rpx;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
  }
}

.commentlist-border-top {
  height: 16rpx;
  width: 100vw;
  background: #eee;
}

.popup {
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
}

.launch-comment {
  position: fixed;
  bottom: 64rpx;
  width: 100vw;
  z-index: 8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.launch-comment-hide {
  bottom: -200px;
}

.article-card-container {
  // -webkit-backface-visibility: hidden;
  // backface-visibility: hidden;
  // position: relative;
  // z-index: 4;
}

.article-comment-container {
  // position: relative;
  // z-index: 5;
}
