/* pages/vcomment/index.wxss */
@import '../../common/scss/common.scss';

.container {
  align-items: center;
  width: 100vw;
}

.tab-container {
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 16px;
  z-index: 5;
}

.tab-button {
  margin: 0 16px;
  padding: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  will-change: width;
  transition: width .3s;
  color: #fff;
  background: #333;
  border-radius: 100px;
  min-width: 82px;
}
