/* pages/profile/index.wxss */
page {
  background-color: white;
}

.page-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  .userInfo {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 28rpx;
    margin: 24rpx 32rpx 24rpx;
    .avatar {
      width: 72rpx;
      height: 72rpx;
      border-radius: 50%;
      overflow: hidden;
      background: #999;
    }
    .name {
      padding-left: 16rpx;
    }
  }
  textarea {
    padding: 24rpx 36rpx 0;
    width: 614rpx;
    font-size: 28rpx;
    line-height: 36rpx;
    height: 152rpx;
    background: #ddd;
    color: #444;
  }
  .tips {
    padding: 24rpx 36rpx 12rpx;
    width: 614rpx;
    font-size: 24rpx;
    height: 40rpx;
    line-height: 40rpx;
    color: #999;
    background: #ddd;
    text-align: right;
  }
  .share-friend {
    margin-top: 12rpx;
    width: 674rpx;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .select {
      width: 24rpx;
      min-width: 24rpx;
      height: 24rpx;
      border-radius: 50%;
    }
    .content {
      font-size: 24rpx;
      height: 40rpx;
      line-height: 40rpx;
      margin-left: 8rpx;
      color: #999;
      text-align: left;
    }
  }
  .submit {
    margin: 40rpx;
    font-size: 28rpx;
    height: 60rpx;
    line-height: 60rpx;
    width: 140rpx;
    color: #fff;
    background: #e32828;
    border-radius: 30rpx;
    box-shadow: 0 4rpx 10rpx #999;
    text-align: center;
  }
}

.placeholder {
  font-size: 28rpx;
  font-weight: 500;
  color: #999;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -2000px;
}

.popup {
  width: 100vw;
  height: 100vh;
  // pointer-events: none;
  background: #fff;
  position: fixed;
  top: 100vh;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  overflow: auto;
}

.showPopup {
  top: 0;
  transition: all 0.3s;
}
