/* components/launchapp/index.wxss */
@import '../../common/scss/common.scss';

.container {
  align-items: center;
  width: 100%;
  padding: 32rpx 32rpx 0;
  box-sizing: border-box;
}

.input {
  color: #444;
  width: 100%;
  padding: 32rpx;
  line-height: 40rpx;
  font-size: 28rpx;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  z-index: 8;
  height: 120rpx;
  background: rgba(0,0,0,.1);
  border-radius: 16rpx;
}

.placeholder {
  font-size: 28rpx;
  font-weight: 500;
  color: #999;
}
