@import '../../../common/scss/common.scss';
@import '../../../wxParser/index.wxss';

.container {
  width: 100vw;
  background: #fff;
  align-items: center;
}

.title {
  font-size: 36rpx;
  font-weight: 900;
  margin: 32rpx;
  color: #444;
  align-self: flex-start;
}

.subtitle {
  margin: 0 32rpx 32rpx;
  font-size: 28rpx;
  color: #999;
  align-self: flex-start;
}

.wx-parser {
	hyphens: auto;
	word-break: break-word;
	clear: left;
	overflow: hidden;
	max-width: 686rpx;
  width: 686rpx;
	color: #444;
	text-align: left;
	align-items: center;
	line-height: 1.5;
}

.bottom {
  width: 100%;
}

