.col-start
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.col-center
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.col-end
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.col-space-between
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.row-start
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.row-center
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.row-end
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.row-space-between
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.row-space-around
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.overflow-line-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  word-break: break-word;
}

.overflow-line-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-word;
}

.overflow-line-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  word-break: break-word;
}

.top-notification {
  align-items: center;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8;
  opacity: 1;
  transition-property: top, opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.top-notification-up {
  top: -1000px;
  opacity: 0;
  transition-duration: 3s;
}
