
.comment-options {
  width: 686rpx;
}

.comment-content {
  color: #444;
  font-size: 28rpx;
  font-weight: 0;
  line-height: 40rpx;
  text-align: left;
  word-break: break-word;
}

.option-container {
  align-items: center;
  color: #999;
  font-size: 28rpx;
  line-height: 40rpx;
  height: 82rpx;
}

.option-text {
  margin: 0 32rpx 0 12rpx;
}

.option-image {
  width: 28rpx;
  min-width: 28rpx;
  height: 28rpx;
}
