/* components/articlecardA/index.wxss */

.container {
  background: white;
  width: 100vw;
  padding-bottom: 32rpx;
  .image-box {
    width: 100%;
    height: 360rpx;
    .bg {
      position: relative;
      top: 0;
      left: 0;
      z-index: 3;
      background-color: white;
      width: 100%;
      height: 360rpx;
    }
    .avatar {
      position: relative;
      left: 277rpx;
      bottom: 98rpx;
      width: 176rpx;
      height: 176rpx;
      border-radius: 50%;
      border: 10rpx solid white;
      z-index: 4;
    }
  }
  .login-box {
    padding-top: 122rpx;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 36rpx;
    line-height: 50rpx;
    height: 50rpx;
    color: #444;
    button {
      text-decoration: underline;
      color: #E22828;
      font-size: 36rpx;
    }
  }
  .nickname {
    padding-top: 122rpx;
    width: 100%;
    font-size: 44rpx;
    line-height: 50rpx;
    height: 50rpx;
    font-weight: 900;
    text-align: center;
    color: #444;
  }
}
