/* components/launchapp/index.wxss */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #fff;
  overflow: auto;
  .title {
    color: #444;
    width: 100%;
    height: 40rpx;
    line-height: 40rpx;
    font-size: 34rpx;
    text-align: center;
    margin-top: 24rpx;
  }
  .tips {
    color: #999;
    width: 100%;
    height: 40rpx;
    line-height: 40rpx;
    font-size: 28rpx;
    text-align: center;
    margin: 24rpx 0 48rpx;
  }
  .poster {
    width: 462rpx;
    height: 100rpx;
    box-shadow: 0 0 80rpx #bbb;
  }
  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 462rpx;
    margin: 72rpx 0 24rpx;
    .item {
      font-size: 32rpx;
      height: 72rpx;
      line-height: 72rpx;
      width: 192rpx;
      color: #fff;
      background: #e32828;
      border-radius: 0;
      text-align: center;
    }
  }
}
