/* components/articlecard/index.wxss */

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: #fff;
  overflow: auto;
}

.recommendor-container {
  margin: 24rpx 32rpx 0;
  width: 686rpx;
  // border-bottom: 2rpx solid #eee;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.recommendor {
  margin: 0 32rpx 0 0;
  padding: 4rpx 12rpx 4rpx;
  border: 2rpx solid #f23232;
  border-radius: 5rpx;
  color: #f23232;
  font-size: 28rpx;
  line-height: 34rpx;
}

.tips {
  color: #999;
  font-size: 28rpx;
}

.commentlist-border-top {
  height: 1rpx;
  width: 100vw;
  background: #eee;
}

.popup {
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
}


