/* components/launchapp/index.wxss */
.launchApp {
  height: 72rpx;
  width: 254rpx;
  background-color: rgb(221, 57, 54);
  border-radius: 72rpx;
  font-size: 32rpx;
  line-height: 72rpx;
  text-align: center;
  color: white;
}
